a {
	color: inherit;
}
a:hover {
	color: inherit;
	cursor: pointer;
}
.box {
	display: flex;
	justify-content: center;
}
.page-header {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	background-color: #0c0202;
	max-height: 30%;
	max-width: 100%;
}
.name-header {
	font-family: 'Cabin Sketch', cursive;
	text-shadow: 1px 1px #fff;
	color: white;
}
.profile-image {
	border-radius: 100%;
	border-color: black;
	border-style: solid;
	border-width: 1px;
	max-height: 200px;
	max-width: 200px;
}
.page-footer {
	max-height: 20%;
}
.main-area {
	display: flex;
	align-content: center;
	justify-content: center;
	flex-direction: column;
	max-height: 50%;
	max-width: 100%;
	font-family: 'Special Elite', cursive;
	padding-left: 10px;
	padding-right: 10px;
	margin-left: 10%;
	margin-right: 10%;
}